<div class="footer-container">
  <footer class="d-grid flex-wrap justify-content-between pt-3 pb-1 px-5">
    <p class="px-1 copyright">© 2025 RLMP44</p>
    <p class="px-1 dedication">❤️ For my astro-loving nieces </p>
  </footer>
</div>
