<div id="cesiumContainer" style="height: 90vh; width: 50%;">
  <script type="module">
    console.log('<%= locals.accessToken %>')
    Cesium.Ion.defaultAccessToken = '<%= locals.accessToken %>';
  </script>
  <script src="/issTracker.js"></script>
  <script src="https://unpkg.com/satellite.js@4.0.0/dist/satellite.js"></script>
</div>
