<div class="footer-container">
  <footer class="d-flex flex-wrap justify-content-between pt-3 pb-1 px-5 border-top">
    <p class="col-md-4">© 2025 RLMP44</p>
    <p class="col-md-4">Background image by <a href="https://www.freepik.com/author/rawpixel-com">RawPixel</a> on Freepik</p>
  </footer>
</div>
