canvas {
  border: 1px solid black;
  background: radial-gradient(
    circle 180vw at 50% 210%,
    rgba(1,30,44,1) 25%,
    48%,
    rgba(167,231,248,1) 50%,
    51%,
    rgba(1,30,44,1) 67%
  );
  /* position: inherit; */
  /* top: 5%; */
  display: block;
  height: 100%;
  width: 100%;
}
