@import 'containers.css';
@import 'buttons.css';
@import 'canvas.css';
@import 'text.css';

/* get rid of default margin */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: auto;
  align-items: baseline;
}

.hidden {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .buttons-container {
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0rem 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    width: 90% !important;
  }

  .main-content {
    max-width: 350px !important;
  }

  body {
    background-size: 200vw 100vh;
  }

  .main-text {
    font-size: 24px;
  }

  .copyright {
    grid-area: 3 / 1 / 3 / -1 !important;
    justify-self: center;
    margin: 0;
  }

  .dedication {
    grid-area: 1 / 1 / 1 / -1 !important;
    margin: 0;
  }

  .credit {
    grid-area: 2 / 1 / 2 / -1 !important;
    justify-self: center;
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) and (max-width: 600px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 200vw at 50% 120%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 160vw at 50% 140%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }

  .copyright {
    grid-area: 2 / 1 / 2 / 3 !important;
  }

  .dedication {
    grid-area: 1 / 2 / 1 / 6 !important;
    border-bottom: solid 1px white;
  }

  .credit {
    grid-area: 2 / 3 / 2 / -1 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 140vw at 50% 140%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }

  .copyright {
    grid-area: 2 / 1 / 2 / 3 !important;
  }

  .dedication {
    grid-area: 1 / 2 / 1 / 6 !important;
    border-bottom: solid 1px white;
  }

  .credit {
    grid-area: 2 / 4 / 2 / -1 !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-content {
    width: 450px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1150px) {
  canvas {
    background: radial-gradient(
      circle 140vw at 50% 210%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }
}
