body {
  background-image: url('../images/horizon.jpg');
  background-size: cover;
}

footer {
  position: fixed;
  bottom: .5rem;
  left: 1rem;
}

.main-content {
  border-radius: 4rem;
  background-color: rgba(13, 26, 42, 0.325);
  backdrop-filter: blur(5px);
}
