canvas {
  border: 1px solid black;
  background: radial-gradient(
    circle 180vw at 50% 210%,
    rgba(1,30,44,1) 25%,
    48%,
    rgba(167,231,248,1) 50%,
    51%,
    rgba(1,30,44,1) 67%
  );
  position: absolute;
}

/* get rid of default margin */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.body-container {
  min-height: 90vh;
  padding: 0rem;
  margin: 0rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

.header-container, .footer-container {
  background-color: rgba(167,231,248,1);
  backdrop-filter: blur(5px);
  width: 100%;
  flex: none;
}

footer {
  align-items: baseline;
}

.credit {
  justify-content: flex-end !important;
}

.credit a {
  text-decoration: none;
  color: white;
}

.main-content {
  border-radius: 2rem;
  background-color: rgba(13, 26, 42, 0.325);
  backdrop-filter: blur(5px);
  width: 500px !important;
  border: .3rem solid rgba(167, 231, 248, 1);
  box-shadow: 3px 3px 7px rgba(1, 30, 44, 1);
}

.main-text {
  font-weight: bold;
  font-size: 34px;
}

.main-button {
  background-color: rgba(167,231,248,1) !important;
  box-shadow: inset 3px 3px 9px white, -1px -1px 4px white;
  border: none !important;
  width: 10rem !important;
}

.main-button:hover {
  box-shadow: inset 3px 3px 9px white;
  transition: .5s;
}

.buttons-container {
  align-items: flex-end;
  gap: 1.5rem;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  width: 90% !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .buttons-container {
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0rem 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    width: 90% !important;
  }

  .main-content {
    max-width: 350px !important;
  }

  body {
    background-size: 200vw 100vh;
  }

  .main-text {
    font-size: 24px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) and (max-width: 600px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 200vw at 50% 120%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 160vw at 50% 140%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  canvas {
    border: 1px solid black;
    background: radial-gradient(
      circle 140vw at 50% 140%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-content {
    width: 450px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1150px) {
  canvas {
    background: radial-gradient(
      circle 140vw at 50% 210%,
      rgba(1,30,44,1) 25%,
      48%,
      rgba(167,231,248,1) 50%,
      51%,
      rgba(1,30,44,1) 67%
    );
  }
}

:root {
  --color-bg: #16181b00;
}

/* body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  padding: 0 50px;
  background: var(--color-bg);
} */

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 50vw;
  perspective: 100px;
  overflow: hidden;
  cursor: grab;
}

.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 2rem;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 50%;
  translate: -50% 0;
  width: 500%;
  height: 500%;
  border-radius: 50%;
  background: var(--color-bg);
}

.carousel::before {
  top: -480%;
}

.carousel::after {
  bottom: -480%;
}

.slide {
  position: relative;
  flex: 0 0 33.33%;
  width: 33.33%;
  counter-increment: item;
}

.slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
}

.snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-size: cover;
  background-position: 50%;
  border-radius: 2rem;
  background-color: rgba(13, 26, 42, 0.325);
  backdrop-filter: blur(5px);
  border: .3rem solid rgba(167, 231, 248, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
